body {
  background: #111;
}

.console-container {
  font-family: "Mono", "Courier New";
  font-size: 27px;
  height: 200px;
  width: 1000px;
  display: block;
  position: absolute;
  color: #4AF626;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.console-container span {
  text-transform: lowercase;
}

.console-underscore {
  display: inline-block;
}

.blinking {
  animation: blink 0.7s infinite;
  -webkit-animation: blink 0.7s infinite;
}

@keyframes blink {
  50% { opacity: 0.0; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
