body {
    background-color: #eee;
    font-family: Arial;
    color: #111;
    text-align: center;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 20px;
}

h3.current-player {
    font-size: 23px;
    color: green;
}

div#info {
    width: 290px;
    margin: 30px auto;
    border: 1px #111 dashed;
}

table#game-table {
    border-collapse: collapse;
    font-size: 60px;
    font-weight: bold;
    color: #eee;
    width: 290px;
    margin: 0 auto;
}

table#game-table td {
    border-bottom: 1px #111 solid;
    border-right: 1px #111 solid;
    width: 90px;
    height: 90px;
    text-align: center;
}

table#game-table td:last-child {
    border-right: none;
}

table#game-table tr:last-child td {
    border-bottom: none;
}

table#game-table td:hover {
    background-color: #dedede;
    cursor: pointer;
}

table#game-table td.selectedX {
    background-color: #336699;
    cursor: unset;
}

table#game-table td.selectedO {
    background-color: #990000;
    cursor: unset;
}

table#game-table td.winner {
    background-color: green;
    cursor: unset;
    animation: blink 0.7s linear 2;
}

button {
    border: 1px #111 solid;
    margin: 20px auto;
    width: 270px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

input {
    border: 1px #111 solid;
    margin: 20px auto;
    width: 270px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

input.computer-player {
    pointer-events: none;
    background-color: #eee;
}

div#step-1, div#step-2, div#step-3 {
    animation: 0.3s slide-up;
}

@keyframes blink {
    50%  { opacity: 0; }
}

@keyframes slide-up {
  from {
    margin-top: 30%;
  }
  to {
    margin-top: 0%;
  }
}
